:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: black;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#todoTitle{
  margin: auto;
}

.todo-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.done-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.todo-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

h3{
  margin-top: 60%;
  margin-bottom: 0%;
}